

html{
    font-size: 62.5%;
}

body{
    font-family: sans-serif, cursive;
        font: 1.6rem;
        background-color: var(--body-color);
        margin: 0;

    }

h1,h2,h3,p,ul,ol,a,th,figure{
    text-decoration: none;
    margin: 0;
    list-style: none;
    padding: 0;
    font-weight: 400;
}


*{
    box-sizing: border-box;
}

:root {
    --body-color: #fafafa;
    --warining-color: rgb(255, 0, 0);
    --border-color:#ccc;
    --button-submit-color: #30699f;
  }
header>h1{
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-weight: 100;
    color: rgb(0, 0, 0);

    font-size: 1.5rem;
    width: 100%;
}
fieldset>img{
    width: 70%;
    display: block;
    margin: 1rem auto;
}

.verif_text{
    display: none;
}
.verif_text_show{
    font-size: 1.3rem;

    display: block;
    text-align: center;
    font-weight: 500;
    color: var(--warining-color);
}
.mainwelcome{
    padding: 1rem;
    display: block;
    margin: 0 auto;
    width: 35rem;
}

fieldset{
    border: .1rem solid var(--border-color);
    

}

fieldset>form>*{
    border: none;
    border: .1rem solid var(--border-color);
    display: block;
    width: 100%;
}

fieldset>form>input{
    padding-left: .5rem;
    background-color: var(--body-color);
    line-height: 3rem;
    margin-top: 1rem;
}


fieldset>form>input[type=submit]{
    color: rgb(255, 255, 255);
    display: block;
    border: none;
    background-color:  var(--button-submit-color);
}



.grid_android_appstore>li>a>img{
    width:100%;

}

.grid_android_appstore{
    width: 70%;
    margin: 1rem auto;
    grid-gap:.5rem;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.button_block>li:first-child{
    font-size: 1.2rem;
    position: relative;
    text-align: center;
}
.button_block>li>a{
    color:rgb(79,102,165);

}

.button_block>li:first-child::before{
    background-image: url('../asset/fblogo.png');
    background-size: 20px 20px;
    display: inline-block;
    vertical-align: -.25rem;
    margin-right: .5rem;
    width: 20px; 
    height: 20px;
    content:"";
}

.button_block>li:last-child{
    margin-top: .5rem;
    font-size: 1rem;
    text-align: center;
}


.download{

    text-align: center;
    padding: 1rem;
}
.subscribe{
    padding: 1rem;

    width: 100%;
    text-align: center;
    font-size: 1.2rem;
    margin-top: 1rem;
    border: .1rem solid var(--border-color);
}
.subscribe>h2{
    font-size: 1.2rem;
    color: var(--button-submit);

}
.subscribe>h2>a{
    font-size: 1.1rem;
    color: var(--button-submit);

}

.mainauto{
    width: 100%;
}

.welcome_div>img{
    width: 100%;
    display: block;
    margin: 0 auto;
}

.separator_grid{
    margin: 1rem auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 100%;
}

.separator_grid>hr{
    border: .05rem solid #ccc;
    height: .1rem;
    background-color: #ccc;
    width: 100%;
    text-align: center;

}
.separator_grid>p{
    text-align: center;
    color: rgba(0, 0, 0, 0.589)
}


.main_welcome{
    width: 35rem;
}

/*

@media screen and (max-width:50rem){
   
    
    .mainwelcome{
        padding: 1rem;
        display: block;
        margin: 0 auto;
        width: 100%;
    }
    
    
}*/